<a href="https://colab.research.google.com/github/fepago95/clase2/blob/main/ProyectoFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PROYECTO FINAL

### NOMBRE: Federico Parejea Gómez / C.C: 1053840480
### CURSO: Programación para Ingenieria - Maestria en Ingenieria

## Planteamiento del problema

Se presenta una base de

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

%matplotlib inline

In [6]:
estudiantes= pd.read_excel('bd_estudiantes.xlsx')
estudiantes.head()

,orden,facultad,sexo,hermanos,libros_leidos,prom_matematicas,act_trabaja,edad_anos,estatura,peso,cal_icfes
0,1,2,1,3,4,2.6,1,18,140,46,410
1,2,2,2,2,2,4.1,1,20,158,48,360
2,3,1,2,4,6,3.2,2,21,162,50,320
3,4,1,2,3,2,3.3,2,16,166,58,280
4,5,2,1,6,10,3.9,2,17,171,64,310

In [ ]:
prom_mat

['facultad',
 'sexo',
 'hermanos',
 'libros_leidos',
 'prom_matematicas',
 'edad_anos',
 'estatura',
 'peso']